body {
  font-family: "Press Start 2P", cursive;
  padding: 0;
  margin: 0;
  background: url("../img/bkg-0.jpg") no-repeat, top / cover;
  cursor: url("../img/crosshair.png") 25 25, auto;
  user-select: none;
}

/* style for all text */
.modify__text {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4deeea;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}

/* Header */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* Score */
.score {
  display: flex;
}

/* Level */

.level__number {
  position: absolute;
  top: 10px;
  right: 187px;
}
/* Radar */
.radar {
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%, 0);
}

.radar__block-style {
  margin-left: 15px;
  border: 2px solid #4deeea;
  /* background-color: #4deeea; */
  box-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
.radar__block1 {
  padding: 10px 3px 0 3px;
}
.radar__block2 {
  padding: 20px 3px 0 3px;
}
.radar__block3 {
  padding: 25px 3px 0 3px;
}
.radar__block4 {
  padding: 30px 3px 0 3px;
}
.radar__block5 {
  padding: 35px 3px 0 3px;
}

/* MAIN/ */
/* MAP */
.map {
  height: calc(100vh - 88px);
}

/* INFO MODAL window */
.info-modal {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 250px;
  max-width: 700px;
  border: 2px solid #ff2d95;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  color: #4deeea;
  background-color: #ff2d95;
  box-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
.info-modal__text {
  padding-bottom: 20px;
}
.info-modal__play {
  font-family: "Press Start 2P", cursive;
  font-size: 22px;
  color: azure;
  background-color: slategrey;
  padding: 10px 55px;
  margin: 0 auto;
}
.info-modal__play:hover {
  cursor: url("../img/crosshair.png") 25 25, auto;
}
/* CURTAIN */
.curtain {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}
